.standardButton {
  outline: none;
  border: none;
  cursor: pointer;

  padding: 1.2rem 2.4rem;

  background: var(--brand);
  color: var(--text);
  font-size: var(--text-sm);
  border-radius: 4px;
  color: var(--background);
  position: relative;
  z-index: 20;

  overflow: hidden;

  transition: 0.2s opacity;
}

.standardButton:hover {
  transition: 0.3s;
  background-color: var(--text);
}
